<!DOCTYPE html>
<html lang="en">
    <head><title><%= store_title %></title></head>
    <body>
        <h1>Welcome to <%= store_title %>!</h1>
        <a href="/admin">Admin</a>
        This link will direct you to the Online store where books are viewable from the database. 
        
    </body>
</html>