<!DOCTYPE html>
<html lang="en">
    <head><title><%= store_title %></title></head>
    <body>
        <h1>Welcome to <%= store_title %>!</h1>
        <a href="storefront">Store Front</a>
        
    </body>
</html>